@charset "utf-8";
@use "bulma";
@use "_colors";

$default-fonts: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

html {
    font-family: $default-fonts;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    svg {
        max-height: 70%;
        width: auto;
    }
}
