<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  
  <div class="section container">
    <header>
      {{ partial "header.html" . }}
    </header>
    <div>
      <main style="margin-top: 4em;">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>
  <footer
    class="section"
    style="background-color: hsl(0, 0%, 96%); margin-top: 2em;"
  >
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>