{{ define "main" }}
    <main aria-role="main">
        <article>
            <div class="article-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}" class="article-date">Posted on {{ .Date.Format "January 2, 2006" }}</time>
                {{ if ne .Lastmod .Date }}
                <time datetime="{{ .Lastmod.Format "2006-01-02" }}" class="article-updated">Updated: {{ .Lastmod.Format "January 2, 2006" }}</time>
                {{ end }}
            </div>
            <div class="home-page-content">
                {{ .Content }}
            </div>
            <a href="{{ .Site.Home.Permalink }}">{{ emojify ":house:"}} Back home</a>
        </article>
    </main>
{{ end }}