
<header class="columns is-variable is-8">
    <div class="column is-2">
        <div class="logo-container">
            {{ if .Site.Params.darkMode }}
                {{ readFile "assets/mohessaid_dark.svg" | safeHTML }}
            {{ else }}
                {{ readFile "assets/mohessaid_light.svg" | safeHTML }}
            {{ end }}
        </div>
    </div>
    <div class="column">
        <h1 class="title">{{ or .Title  .Site.Title }}</h1>
        {{ if .Params.subtitle }}
            <h3 class="text-muted">{{ .Params.subtitle }}</h3>
        {{ else if .IsHome }}
            <h3 class="text-muted">{{ .Site.Params.subtitle }}</h3>
            <div class="contra-hire-me-button" data-analyticsUserId="027072bc-4618-47e9-b07a-4feb4a9a709c" data-theme="light" data-username="mohessaid"></div>
            <script async src="https://contra.com/static/embed/sdk.js" charset="utf-8"></script>
        {{ end }}
    </div>
    <div class="column is-narrow has-text-right">
        <button id="theme-toggle" accesskey="t" title="(Alt + T)" aria-label="Toggle theme">
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
            <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </button>
    </div>
</header>